<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title><%= title %></title>
</head>
<body>
  <%- include('partials/header') %>
<main>
  <h1>About page</h1>
  <p>This website is created a system that use the NOde.js, and modules: express, ejs, body-parser.</p>
  <p>The idea is to try to use same tagas like input, select or any tag that I can pratical use the ejs.</p>
  <p>The ejs is similar handlebars, it is a module too</p>
</main>
<footer>
  <p>Copyright by Cristiano Franca</p>
</footer>
</body>
</html>