<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title> <%= title %></title>
</head>
<body>
<form action="/basket" method="post">
  <img src="" alt="Salgados">
  <h2> <%= item.name %></h2>
  <select name="tipo" id="tipo" title="tipo">
    <option value=""></option>
    <option value="One">One</option>
    <option value="two">One</option>
  </select>
  <label for="">Amount</label>
  <input type="number" name="basketList" id="" title="quantidade" />
  <button type="submit">Add item</button>
</form>  
</body>
</html>

  

